samples/*
2016RALHeteroSensor/*
2018ICRA/*
*.aux
*.lof
*.log
*.lot
*.out
An_thesis.pdf
An_thesis*.pdf
*.toc
*.bbl
*.blg
*.synctex.gz

# Apple/Mac ignore
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fuse*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
